{% extends "FctBundle::layout.html.twig" %}

{% block content %}
    <br>
    <h2>Listado de los ciclos</h2>
    <hr>
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{message}}</div>
        <hr>
    {% endfor %}
    <div class="col-lg-4"><a class="btn btn-success btn-lg" href="{{path("fct_create_empresa")}}">Añadir empresa</a></div>
    <br>
    <div class="col-lg-4">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>CIF</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Provincia</th>
                    <th>Poblacion</th>
                    <th>Correo electronico</th>
                    <th>Telefonos</th>
                        {% if is_granted('ROLE_DIRECCION') %}
                        <th>Operaciones</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for empresa in empresas %}
                    <tr>
                        <td>{{empresa.cif}}</td>
                        <td>{{empresa.nombre}}</td>
                        <td>{{empresa.direccion}}</td>
                        <td>{{empresa.provincia}}</td>
                        <td>{{empresa.poblacion}}</td>
                        <td>{{empresa.email}}</td>
                        <td>{{empresa.telffijo }}{{empresa.telfmovil}}</td>
                        {% if is_granted('ROLE_DIRECCION') %}
                            <td>
                                <a class="btn btn-danger" href="{{path("fct_delete_empresa", {"id_emp":empresa.id_emp})}}"><span></span>X</a>
                            </td><td>
                                <a class="btn btn-danger" href="{{path("fct_edit_empresa", {"id_emp":empresa.id_emp})}}"><span></span>Editar</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{path("fct_index_empresa", {"page":page-1})}}">&laquo;</a></li>
                    {% for i in 1..pagesCount %}
                    <li class="page-item"><a class="page-link" herf="{{path("fct_index_empresa", {"page":i})}}">{{i}}</a></li>
                    {% endfor %}
                <li class="page-item"><a class="page-link" href="{{path("fct_index_empresa", {"page":page+1})}}">&raquo;</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
{# empty Twig template #}
