{% extends "FctBundle::layout.html.twig" %}

{% block content %}
    <br>
    <h2>Listado de las Formaciones de Centro de Trabajo</h2>
    <hr>
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{message}}</div>
        <hr>
    {% endfor %}
    <div class="col-lg-4"><a class="btn btn-success btn-lg" href="{{path("fct_create_fct")}}">Añadir fct</a></div>
    <br>
    <div class="col-lg-4">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Año</th>
                    <th>Profesor</th>
                    <th>Empresa</th>
                    <th>Alumno</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for fct in fcts %}
                    <tr>
                        <td>{{fct.anio}}</td>
                        <td>{{fct.nombreProf}}</td>
                        <td>{{fct.nombreEmp}}</td>
                        <td>{{fct.nombreAlu}}</td>
                        <td>
                            <a class="btn btn-danger" href="{{path("fct_delete_fct", {"id_fct":fct.id_fct})}}"><span></span>X</a>
                        </td><td>
                            <a class="btn btn-danger" href="{{path("fct_edit_fct", {"id_fct":fct.id_fct})}}"><span></span>Editar</a>
                        </td>
						<td>
                                <a class="btn btn-danger" href="{{path("fct_seemore_fct", {"id_fct":fct.id_fct})}}"><span></span>Ver mas</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
            
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{path("fct_index_fct", {"page":page-1})}}">&laquo;</a></li>
                    {% for i in 1..pagesCount %}
                    <li class="page-item"><a class="page-link" herf="{{path("fct_index_fct", {"page":i})}}">{{i}}</a></li>
                    {% endfor %}
                <li class="page-item"><a class="page-link" href="{{path("fct_index_fct", {"page":page+1})}}">&raquo;</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
{# empty Twig template #}
{# empty Twig template #}
