{% extends "FctBundle::layout.html.twig" %}

{% block content %}
    <br>
    <h2>Listado de los alumnos</h2>
    <hr>
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{message}}</div>
        <hr>
    {% endfor %}
	{% if is_granted('ROLE_DIRECCION') %}
    <div class="col-lg-4"><a class="btn btn-success btn-lg" href="{{path("fct_create_alumno")}}">Añadir alumno</a></div>
	{% endif %}
    <br>
    <div class="col-lg-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Nif</th>
                    <th>Nickname</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Email</th>
                    <th>Ciclo</th>
                        {% if is_granted('ROLE_DIRECCION') %}
							<th colspan="3">Operaciones</th>
							{% else %}
							<th>Operaciones</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                    <tr>
                        <td>{{alumno.nif}}</td>
                        <td>{{alumno.nickname}}</td>
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.apellido1}}</td>
                        <td>{{alumno.apellido2}}</td>
                        <td>{{alumno.email}}</td>
                        <td>{{alumno.codigoCiclo}}</td>
                        {% if is_granted('ROLE_DIRECCION') %}
                            <td>
                                <a class="btn btn-danger" href="{{path("fct_delete_alumno", {"id_alu":alumno.id_alu})}}"><span></span>X</a>
                            </td><td>
                                <a class="btn btn-warning" href="{{path("fct_edit_alumno", {"id_alu":alumno.id_alu})}}"><span></span>Editar</a>
                            </td>
                        {% endif %}
						<td>
                                <a class="btn btn-info" href="{{path("fct_seemore_alumno", {"id_alu":alumno.id_alu})}}"><span></span>Ver mas</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
				{%if page == 1%}
				<li class="page-item disabled"><a class="page-link" href="{{path("fct_index_alumno", {"page":page-1})}}">&laquo;</a></li>
				{% else %}
                <li class="page-item"><a class="page-link" href="{{path("fct_index_alumno", {"page":page-1})}}">&laquo;</a></li>
				{% endif %}
                    {% for i in 1..pagesCount %}
                    <li class="page-item"><a class="page-link" herf="{{path("fct_index_alumno", {"page":i})}}">{{i}}</a></li>
                    {% endfor %}
				{% if page == pagesCount %}
				<li class="page-item disabled"><a class="page-link" href="{{path("fct_index_alumno", {"page":page+1})}}">&raquo;</a></li>
				{% else %}
                <li class="page-item"><a class="page-link" href="{{path("fct_index_alumno", {"page":page+1})}}">&raquo;</a></li>
				{% endif %}
            </ul>
        </nav>

    </div>
{% endblock %}