{% extends "FctBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-4">
        <h2>Buscar profesor</h2>
        <hr>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
            <hr>
        {% endfor %}
		
		{{form_start(form, {'action':'','method':'POST'})}}
			<label for="txtdireccion">Rol:*
				{{form_errors(form.rol)}}
				{{form_widget(form.rol)}}
            </label>
            <br>
            <label for="txtdireccion">Telefono fijo:*
				{{form_errors(form.operador_fijo)}}
				{{form_widget(form.operador_fijo)}}</label><label>
				{{form_errors(form.telfFijoProf)}}
				{{form_widget(form.telfFijoProf)}}
			</label>
			<label for="txtdireccion">Telefono movil:*
				{{form_errors(form.operador_movil)}}
				{{form_widget(form.operador_movil)}}</label><label>
				{{form_errors(form.telfMovilProf)}}
				{{form_widget(form.telfMovilProf)}}
			</label>
			<label for="txtdireccion">Email:*
				{{form_errors(form.operador_email)}}
				{{form_widget(form.operador_email)}}</label><label>
				{{form_errors(form.emailProf)}}
				{{form_widget(form.emailProf)}}
			</label>
		{{form_end(form)}}
		  
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Nif</th>
                    <th>Nickname</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>

                    <th>Telefono Fijo</th>
                    <th>Telefono Movil</th>
                    <th>Email</th>
                    <th colspan="3">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for profesor in profesores %}
                    <tr>
                        <td>{{profesor.nif_prof}}</td>
                        <td>{{profesor.nickname_prof}}</td>
                        <td>{{profesor.nombre_prof}}</td>
                        <td>{{profesor.apellido1_prof}}</td>
                        <td>{{profesor.apellido2_prof}}</td>
                        <td>{{profesor.telffijo_prof}}</td>
                        <td>{{profesor.telfmovil_prof}}</td>
                        <td>{{profesor.email_prof}}</td>
						{% if is_granted('ROLE_DIRECCION') %}
                        <td>
                            <a class="btn btn-danger" href="{{path("fct_delete_profesor", {"id_prof":profesor.id_prof})}}"><span></span>X</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{path("fct_delete_profesor", {"id_prof":profesor.id_prof})}}"><span></span>X</a>

                        </td>
						{% endif %}
                        <td>
                            <a class="btn btn-danger" href="{{path("fct_seemore_profesor", {"id_prof":profesor.id_prof})}}"><span></span>Ver mas</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
				{%if page == 1%}
				<li class="page-item disabled"><a class="page-link" href="{{path("fct_index_alumno", {"page":page-1})}}">&laquo;</a></li>
				{% else %}
                <li class="page-item"><a class="page-link" href="{{path("fct_index_alumno", {"page":page-1})}}">&laquo;</a></li>
				{% endif %}
                    {% for i in 1..pagesCount %}
                    <li class="page-item"><a class="page-link" herf="{{path("fct_index_alumno", {"page":i})}}">{{i}}</a></li>
                    {% endfor %}
				{% if page == pagesCount %}
				<li class="page-item disabled"><a class="page-link" href="{{path("fct_index_alumno", {"page":page+1})}}">&raquo;</a></li>
				{% else %}
                <li class="page-item"><a class="page-link" href="{{path("fct_index_alumno", {"page":page+1})}}">&raquo;</a></li>
				{% endif %}
            </ul>
        </nav>
    </div>
    <div class="clear-fix">

    </div>

{% endblock %}{# empty Twig template #}
