{% extends "FctBundle::layout.html.twig" %}

{% block content %}
    <br>
    <h2>Listado de los ciclos</h2>
    <hr>
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{message}}</div>
        <hr>
    {% endfor %}
    <div class="col-lg-4"><a class="btn btn-success btn-lg" href="{{path("fct_create_ciclo")}}">Añadir ciclo</a><div>
            <br>
            <div class="col-lg-4">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Grado</th>
                            <th>Horas</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ciclo in ciclos %}
                            <tr>
                                <td>{{ciclo.codigo}}</td>
                                <td>{{ciclo.nombreCiclo}}</td>
                                <td>{{ciclo.grado}}</td>
                                <td>{{ciclo.horas}}</td>
                                <td>
                                    <a class="btn btn-danger" href="{{path("fct_delete_ciclo", {"id_ciclo":ciclo.id_ciclo})}}"><span></span>X</a>
                                    <a class="btn btn-danger" href="{{path("fct_edit_ciclo", {"id_ciclo":ciclo.id_ciclo})}}"><span></span>Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
