{% extends "FctBundle::layout.html.twig" %}

{% block content %}
    <br>
    <h2>Listado de los ciclos</h2>
    <hr>
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{message}}</div>
        <hr>
    {% endfor %}
    <div class="col-lg-4"><a class="btn btn-success btn-lg" href="{{path("fct_create_ciclo")}}">Añadir ciclo</a></div>
    <br>
    <div class="col-lg-4">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Grado</th>
                    <th>Horas</th>
                        {% if is_granted('ROLE_DIRECCION') %}
                        <th colspan="2">Operaciones</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for ciclo in ciclos %}
                    <tr>
                        <td>{{ciclo.codigo}}</td>
                        <td>{{ciclo.nombreCiclo}}</td>
                        <td>{{ciclo.grado}}</td>
                        <td>{{ciclo.horas}}</td>
                        {% if is_granted('ROLE_DIRECCION') %}
                            <td>
                                <a class="btn btn-danger" href="{{path("fct_delete_ciclo", {"id_ciclo":ciclo.id_ciclo})}}"><span></span>X</a>
                            </td><td>
                                <a class="btn btn-warning" href="{{path("fct_edit_ciclo", {"id_ciclo":ciclo.id_ciclo})}}"><span></span>Editar</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
        <nav aria-label="Page navigation example">
            <ul class="pagination">
			{%if page == 1%}
                <li class="page-item disabled"><a class="page-link" href="{{path("fct_index_ciclo", {"page":page-1})}}">&laquo;</a></li>
				{% else %}
				<li class="page-item"><a class="page-link" href="{{path("fct_index_ciclo", {"page":page-1})}}">&laquo;</a></li>
				{% endif %}
                    {% for i in 1..pagesCount %}
                    <li class="page-item"><a class="page-link" herf="{{path("fct_index_ciclo", {"page":i})}}">{{i}}</a></li>
                    {% endfor %}
				{% if page == pagesCount %}
                <li class="page-item disabled"><a class="page-link" href="{{path("fct_index_ciclo", {"page":page+1})}}">&raquo;</a></li>
				{% else %}
				<li class="page-item"><a class="page-link" href="{{path("fct_index_ciclo", {"page":page+1})}}">&raquo;</a></li>
			{% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
